.loginform {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginbutton {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--app-primary-color);
    color: var(--app-color);
}

.loginlink {
    color: var(--app-color);
    text-decoration: none;
    font-size: 11px;
    display: flex;
    justify-content: center;
}