.fieldcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.fieldcontainer > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.field {
    border : 1px solid white;
    border-radius: 5px;
}

.regbutton {
    border : 1px solid white;
    border-radius: 5px;
    background-color: var(--appl-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    width: 93%;
    
}