.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
}

.sidebarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 30px;
}

.sidebarOption > h2 {
    font-weight: 800;
    font-size: 15px;
    padding: 10px 0px 10px 10px;
}

.sidebarOption__active {
    color: var(--twitter-color);
}

.sidebarOption > img {
    height: 40px;
    width: 40px;
    background-color: var(--app-color);
    border: 1px solid var(--app-color);
    border-radius: 10px;
    
}