body {
    --app-color: #686868;
    --app-background: #2c2d2e;
    --app-background-dark: #1f1f20;
}

.app_container {
    background-color: var(--app-background-dark);
}

.app {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--app-background);
    position: relative;
    background-color: var(--app-background);
}
