.feedBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--app-background);
    padding-right: 10px;
}

.feedBox_input {
    display: flex;
    padding: 20px;
    border: solid;
    border-radius: 20px;
    
}


.feedBox_input > input {
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.feedBox > form {
    display: flex;
    flex-direction: column;
}

.feed_button {
    background-color: var(--app-background) !important;
    border: none !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    margin-top: 20px !important;
    height: 50px !important;
}

.feedbox_post > input {
    border: solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;

}