.feed {
    min-width: 600px;
}

.feed_container{
  padding: 10px;
}

.posts_container {
  height: 67vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}

.posts_container::-webkit-scrollbar {
    display: none;
}

  .feed_header {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 100;
    background-color: var(--app-background-dark);
    padding: 1px;
    border-radius: 20px;
    border: solid 1px;
    display: flex;
    margin-top: 20px; 
    align-items: center;
    margin-bottom: 10px;
  }

.feed_header > input {
    border: none;
    background-color: var(--app-background-dark);
    font-size: 15px;
    font-weight: bold;
    color: white;
    
}

.feed_header > input:focus {
  outline: none;
}

.feed_Header > h2 {
    font-size: 15px;
    font-weight: 800;
}

