.post_container {
    border-radius: 20px;
    border: var(--app-color) solid 1px;
    margin: 10px 0px;
    background-color: var(--app-background);
}

.post {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-radius: 20px;
    color: var(--app-color);
}

.post_avatar {
    padding: 20px;
}

.post_body {
    padding: 10px;
}

.post_body > img {
    border-radius: 20px;
    width: 100%;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.post_text > h3{
    font-size: 20px;
    margin-bottom: 5px;
}

.post_headerDescription {
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.post_username {
    font-size: 15px;
    font-weight: lighter;
}