.widgets {
    flex: 0.3;
    min-width: 100px;
    color: white;
}

.widgets_input {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: var(--app-background)
    
}

.widgets_input > input {
    border: none;
    background-color: var(--app-background);
    font-size: 15px;
    font-weight: bold;
}

.widget_containerMain > h2 {
    padding: 10px;
    text-align: center;
    border-top: 1px solid;
    border-color: var(--app-background);
}
